<div class="contain">
    <div class="option">
        <button mat-raised-button  class="hover-class" style="width:450px; height:80px; text-align: center;" (click)="gotoPage('specialist_outpatient_clinics')"><mat-icon >date_range </mat-icon> <h2 >Specialist Outpatient Clinics</h2></button><br><br>
        <button mat-raised-button  class="hover-class" style="width: 450px; height:80px; text-align: center;" (click)="gotoPage('inpatient_wards')"> <mat-icon >date_range </mat-icon> <h2 >Inpatient Wards</h2></button><br><br>
        <button mat-raised-button  class="hover-class" style="width: 450px; height:80px; text-align: center;"(click)="gotoPage('general')"><mat-icon >date_range </mat-icon> <h2 >General Visit</h2></button><br><br>
 </div>
</div>

